@font-face {
	font-family: 'Arvo Regular';
	src:	url('arvo_regular.eot') format('eot');
	src: 	local('Arvo Regular'), 
			local('ArvoRegular'), 
			url('arvo_regular.woff') format('woff'),
			url('arvo_regular.ttf') format('ttf'),
			url('arvo_regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}