@font-face {
font-family: 'Arvo Gruen';
src: 	url('arvo_gruen.eot') format('eot'),;
src: 	local('Arvo Gruen'), 
		local('ArvoGruen'), 
		url('arvo_gruen.woff') format('woff'), 
		url('arvo_gruen.ttf') format('ttf'), 
		url('arvo_gruen.otf') format('otf');
font-weight: normal;
font-style: normal;
}